@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F4F1DE;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.theMap {
  fill: #E0E2E4;
  stroke: #F5F5F6;
}

#chart {
  width: 1120px;
}
